/*desktop css*/
body {
	background-color: #A8A8A8;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	color: #FFFFFF;
	background-color: #202020;	
	background-image: url('../img/banner.jpg');
	background-position: center;
    background-repeat: no-repeat;	
}

h1{
	text-align:center;	
	font-size: 3em;		
	padding: 10px 10px 10px 10px;
	line-height: 150%;
	text-shadow: 2px 2px 2px #666; 		
}

nav{
	font-weight: bold;
	float: left;
	width: 150px;
	line-height: 200%;
}

main{
	margin-left: 180px;
	padding-right: 20px;
    padding-bottom: 20px;
}

footer{
	font-size: .70em;
	font-style: italic;
	padding: 10px 10px 10px 10px;
	margin-left: 180px;
}

footer nav{
	text-align: left;  
}

header, nav, main, footer {
	display: block;
}

img{
	border-style: none;
}

table{
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid black;
}

th{
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: right;
}

nav ul{
	list-style-type: none;
}

nav a{
	background-color: white; 
	list-style: none;
	color: black;
}

nav a:link {
	background-color: white; 
	text-decoration: none;
    color: black;
}

nav a:visited {
	background-color: white; 	
	color: #A0A0A0;
}

nav a:hover {
	background-color: white; 	
    color: black;
	text-decoration: underline;
}

.category{
	font-weight: bold;
	background-color: #FFFFFF;
	color: black;
	font-size: 1.1em;
}

.altrow{
	color: #505050;
	background-color: #eaeaea;
}

#wrapper{
	width: 80%;
	min-width: 700px;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;	
	color: #606060;
}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}
