/*tablet css*/
@media screen and (max-width: 900px) {
    body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		background-color: white;
        background-image: none;		
		color: black;
    }

	header{
		color: #FFFFFF;
		background-color: #202020;	
		background-image: url('../img/banner.jpg');
		background-position: center;
		background-repeat: no-repeat;	
	}
	
	h1 {
		margin: 0px 0px 0px 0px;	
		text-align: center;		
		font-size: 2em;
		line-height: 200%;
		text-shadow: 2px 2px 2px #666; 		
	}	
	
	nav {
		text-decoration: none;				
		float: none;
		width: auto;
	}	
	
	nav li {
		display: inline-block;
	}	
	
	nav a {
		padding: 1em 1em 1em 1em;
		border-style: none;
		font-size: 1.2em;	
	}
	
	nav ul {
		text-align: center;	
		padding: 0px 0px 0px 0px;	
		margin: 0px 0px 0px 0px;				
	}	

	nav a:link {
		background-color: white; 
		text-decoration: none;
		color: black;
	}

	nav a:visited {
		background-color: white; 		
		color: #A0A0A0;
	}

	nav a:hover {
		background-color: white; 		
		color: black;
	}
	
	main {
		margin: 0px 0px 0px 0px;		
		padding-top: 0px;
		padding-bottom: 0px;		
		padding-right: 1em;
		padding-left: 1em;
		font-size: 90%;		
	}		
	
	dd {
		margin-bottom: 1em;
	}	
	
	footer {
		margin: 0px 0px 0px 0px;
	}	

	img{
		display: none;
	}
	
	table{
		margin-top: 15px;
	}
	
	#wrapper{
		width: auto;
		min-width: 0px;
		margin: 0px 0px 0px 0px;
	}
}